<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
    <filter id="normal" height="100px" width="100px">
    </filter>

    <filter id="blur" height="100px" width="100px" id="blur" y="-50" x="-50">
        <feGaussianBlur in="SourceGraphic" stdDeviation="5" />
    </filter>

    <filter id="trouble" height="100px" width="100px" y="-50" x="-50">
        <feTurbulence type="turbulence" baseFrequency="0.5" numOctaves="2" result="turbulence" />
        <feDisplacementMap in2="turbulence" in="SourceGraphic" scale="50" xChannelSelector="R" yChannelSelector="G" />
    </filter>

    <filter id="outset" width="100px" height="100px" y="-50" x="-50">
        <feTurbulence type="turbulence" baseFrequency="0.01" numOctaves="2" result="turbulence" />
        <feDisplacementMap in2="turbulence" in="SourceGraphic" scale="50" xChannelSelector="R" yChannelSelector="G" />
    </filter>
    <filter id="shadow" width="100px" height="100px" y="-50" x="-50">
        <feDropShadow dx="4" dy="8" stdDeviation="4" />
    </filter>

    <filter id="round" width="100px" height="100px" y="-50" x="-50">
        <feGaussianBlur in="SourceAlpha" stdDeviation="4" result="blur" />
        <feOffset in="blur" result="offsetBlur" />
        <feSpecularLighting in="blur" surfaceScale="5" specularConstant=".5" specularExponent="20"
            lighting-color="#bbbbbb" result="specOut">
            <fePointLight x="-5000" y="-10000" z="20000" />
        </feSpecularLighting>
        <feComposite in="SourceGraphic" in2="specOut" operator="arithmetic" k1="0" k2="1" k3="1" k4="0"
            result="litPaint" />
        <feMerge>
            <feMergeNode in="offsetBlur" />
            <feMergeNode in="litPaint" />
        </feMerge>
    </filter>
    <defs>
        <pattern id="grid" [attr.width]="this.width" [attr.height]="this.width" patternUnits="userSpaceOnUse">
            <path [attr.d]='this.path' fill="none" [attr.stroke]="this.opacity" stroke-width="1"
                pointer-events="none" />
        </pattern>
    </defs>
    <rect width="100%" height="100%" [style.visibility]="this.visibility" />
</svg>
