p {
  text-align: right;
  font-size: 0.75em;
  padding: 0px;
  margin: 0px;
  margin-right: 5%;
}

span {
  vertical-align: baseline;
  font-size: 1.5em;
  margin-right: 0px;
}

/********   Pour le INPUT range   ********/

.slider:hover {
  opacity: 1;
}

.mySlider{
  -webkit-appearance: none;
  border-radius: 10px;
  border: solid darkorange;
  width: 300px;
  height: 12px;
  background: #606060;
  margin-top: 5%;

}

.mySlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 10px;
  appearance: none;
  width: 10px;
  ;
  height: 35px;
  background: white;
  cursor: pointer;
  border: outset 2px;
}

.mySlider::-webkit-slider-thumb:hover {
  background: lightgrey
}

/********   Pour le INPUT number   ********/

.myNumbers{
  border-radius: 10px;
  color:white;
  border: darkorange solid 2px;
  background-color: #606060;
  margin-left: 5%;
  padding-left: 15px;
  font-size: 1.0em;
  text-align: center;
  width: 50px;
  height: 20px;
}

.myNumbers:hover::-webkit-inner-spin-button {
  opacity: 0.3;
}

.myNumbers::-webkit-inner-spin-button:hover {
  opacity: 1;
}
